{% extends "base.html" %} 
{% block content %}
 <h2 class = "blog-post-title">Sign up</h2>
	<form method = "post">
		<label><div>User name:</div></label>
		<input class="form-control" type = "text"; name = "username"; value = {{username}}>
		<div class = "error">{{error_username}}</div>
		<label><div>Password:</div></label>
		<input class="form-control" type = "password"; name = "password"; value = {{password}}>
		<div class = "error">{{error_password}}</div>
		<label><div>Enter again</div></label>
		<input class="form-control" type = "password"; name = "verify"; value = {{verify}}>
		<div class = "error">{{error_verify}}</div>
		<label><div>Email:</div></label>
		<input class="form-control" type = "text"; name = "email"; value = {{email}}>
		<div class = "error">{{error_email}}</div>
		<button class="btn btn-default" type="submit" >Sign up!</button>
	</form>
{% endblock %}